footer {
    margin-top: 5rem;
    background-color: #232f3e;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
  }

footer p{
    margin-bottom: 0px;
    margin: 5px 0px;
}